# Required
OPENSRS_MAIL_HOST=        # 'A', 'B', 'TEST', or a valid URL
OPENSRS_MAIL_USERNAME=
OPENSRS_MAIL_PASSWORD=

# Optional
OPENSRS_MAIL_MODE=        # 'token' or 'password', defaults to 'token'
OPENSRS_MAIL_TOKEN_EXPIRATION=  # seconds, minimum 300, defaults to 300
OPENSRS_MAIL_CACHE_PATH=  # defaults to sys_get_temp_dir()